@charset "utf-8";
/* CSS Document */
body{font-family: "微软雅黑";}
ul{padding: 0;}

body, div, p, h1, h2, h3, h4, h5, h6, ul, p, ol, li, dl, dd, dt, img, form { padding:0; margin:0; border:0; }
a:hover, a:link {text-decoration:none;}
.banner img{ width:100%; height:100%;}
img{ max-height:100%; max-width:100%; }
.top{ background:#eee; padding:5px; clear:both; overflow:hidden;} 
.top-1-2 a{ color:#000; text-decoration:none; font-size:13px; padding-left:5px; padding-right:5px;}
.top-1-3 a{ color:#000; text-decoration:none;font-size:13px; padding-left:5px; padding-right:5px;}
.top-1-2 a:hover{ color:#f08519;}
.top-1-3 a:hover{ color:#f08519;}
.top-1-3 { float:right; padding-right:20px;}
.top-2{line-height:100px;height: 100px; }
.top-2 .top-2-1{padding-top:17px;}
.top-2 .top-2-1 img{float:left;}
.top-2 .top-2-1 span{display:block;width:2px ;height:43px;background:#000000;float:left;margin:20px 8px 0 8px;}
.top-2 .top-2-1 p{float:left;text-align:center;}
.top-2 .top-2-1 p img{margin-bottom:3px;display: block;    float: none;    margin: 5px auto 0 auto;}
.top-2 .top-2-1 p em{font-style:normal;line-height:20px;    display: block;    float: left;    width: 100%;    text-align: center;}
.top-2-2{ text-align:right; }
.top-2-2 a{ padding-left:4%;; color:#000; padding-right:4%; text-decoration:none; font-size:16px;  }
.top-2-2 a:hover{ color:#f08519;}
.top-2-2 a.on{color:#f08519;}
.banner{height:602px;background:url(../images/ban.png) no-repeat center }
.banner_1{position:relative;}
.banner .index_baojia{width:380px;height:305px;border:4px solid red;position:absolute;left:50%;margin-left:190px;border-radius:10px;top:146px;}
.banner .index_baojia p.p_1{text-align:center;margin-top:15px;}
.banner .index_baojia p.p_1 img{width:153px;}
.banner .index_baojia a{margin:8px auto 8px auto;display:block;width:300px;background:#e62129;border-radius:5px;height:49px;line-height:49px;font-size:16px;text-align:center;color:#fff}
.banner .index_baojia a img{width:8px;height:16px;    margin-left: 15px;}
.banner .index_baojia .gundong{width:290px;font-size:14px;margin:0 auto;line-height: 22px;color: #000;}
.banner .index_baojia .gundong em{font-style:normal;color:#e62129;margin:0 5px;}
.sy-t-1{ text-align:center; padding-top:2%;}
.sy-t-1 img{ max-height:150px; max-width:150px; padding-bottom:5px;}
.sy-jd{ color:#000; font-size:22px; ---font-weight:bold;}
.sy-jd-1{ color:#f00; font-size:22px;---- font-weight:bold;}
.sy-xd-2 img{ max-width:190px;}
.sy-xd{ background:#f7f7f7; padding:15px; padding-top:6%; padding-bottom:6%; margin-top:2%;}
.sy-xd .container div.sy-s .sy-s-1{margin:5px auto;    display: block;    text-align: center;}
.sy-xd-1{ font-size:34px; color:#000; ---font-weight:bold; text-align:center; padding-top:2%; padding-bottom:4%;}
.sy-ly-1 img{ margin-left:2%; max-width:180px; margin-right:2%;}
.sy-ly{ padding-top:3%; padding-bottom:3%;}
.bottom{ background:#006db8; padding:20px 5px; margin-top:2%;}
.bot-1 a{ padding-left:25px; font-size:16px; padding-right:25px; text-decoration:none; color:#fff;}
.bot-2{ color:#fff; font-size:16px; padding-right:15px; padding-top:15px;}
.bot{ text-align:right;}
.bot-3{ color:#fff;}
.bot-4{ text-align:center; color:#fff;}
.bot-6 a{ color:#fff; padding-left:15px; padding-right:15px; }
.ckxz-4-3 img{ width:174px;}
.bot-6{ clear:both; overflow:hidden; color:#fff; text-align:center; padding-top:1%; padding-bottom:1%;}
.ckxz-4-3 input{ background:#f00;}
.checkbox { float:right; position:relative; top:-30px;left:-6px;
 width: 19px;
 height: 25px;
 padding: 0 5px 0 0;
 /*background: url(checkbox.png) no-repeat;*/


}

.top-t-1 a{ padding-left:7px; padding-right:7px; color:#7ecaec;text-decoration:none;}
.top-t-2 a{ padding-left:7px; padding-right:7px; color:#000; text-decoration:none;}
.top-t-3 a{ padding-left:7px; padding-right:7px; color:#000;text-decoration:none;}
.top-t-2 a:hover{ color:#f08519;}
.top-t-3 a:hover{ color:#f08519;}
.top-t-1 a:hover{ color:#f08519;}
.top-g-11 a{ background:#e6212a; padding:10px 15px; color:#fff; text-decoration:none; border-radius:5px; margin-right:5%;}
.top-g-12 a{ background:#006db8; padding:10px 15px;color:#fff; text-decoration:none;border-radius:5px;margin-right:2%;}

.top-g-1{ text-align:right;}


.nr-1{ background:#eee; color:#000; padding:5px;}


.sy-s{ background:#fff; padding:10px;}
.sy-s{ text-align:center;}
.sy-s{ width:198px; float:left;}
.sy-s-1{ font-size:20px; ----font-weight:bold;}
.sy-s1{ width:45px; float:left; padding-top:65px; padding-left:5px;}
.sy-ss{ width:234px; float:left; padding:30px; }
.container .sy-ss .sy-s-1{margin:13px auto;    display: block;    text-align: center;}
.nr-1 a{ padding-right:5px; color:#000;}
.nr-1 a:hover{ color:#f08519; text-decoration:none;}
.htnr-1-1{ background:#006db8; padding:10px; color:#fff; font-size:18px; text-align:center;}
.htnr-1-1 img{ margin-top: -7px;}
.htnr-1-2{ background:#eee; padding:10px; color:#000;  font-size:18px; text-align:center;}
.htnr-1-2 img{  margin-top:-7px;}
.htnr-1-3 a{ padding-left:15%; padding-right:13px; font-size:15px; color:#000; line-height:200%;}
.htnr-t{ border:1px solid #eee;margin-top:10px; width:265px; }
.htnr-1-3{height:100px; padding-top:5px; }

.htnr-r-3-1{ color:#000; font-size:15px; border-right:1px solid #ccc; height:80px; text-align:center; line-height:200%; border-width:50%;}
.htnr-3-cz a{ background:#f08519; padding:3px 20px; color:#fff; margin-top:10px;}
.htnr-r-1{ margin-top:2%;}
.htnr-r-3{ margin-top:2%;}
.htnr-r{ border:1px solid #ccc; clear:both; overflow:hidden;}

.htnr-h1{ border-bottom:1px solid #ccc; clear:both; overflow:hidden; padding:5px;}
.htnr-h2{ text-align:center; padding-top:4%; padding-bottom:4%;width: 500px;    margin: 0 auto;    height: auto;overflow: hidden;}
.htnr-h2 .sel{ height:40px; line-height:40px; color:#006db8; font-weight:bold; font-size:15px; padding-left:8px; padding-right:8px;float:left;border:1px solid #ccc}
.htnr-h2  .in-1{height:40px; line-height:40px; width:300px; padding-left:10px; font-size:13px; color:#999;float:left;border:1px solid #ccc;}
.htnr-h2 .in-2{ color:#fff; padding:7px 25px; font-size:18px;  background:#006db8; margin-left:10px;border:0;float:left;}
.htnr-h3-2-1 a{ color:#000;}
.htnr-h3-2-1 span{ color:#f00; font-size:16px;font-weight:bold;}
.htnr-h3-2-1{ color:#000; text-align:center; border-right:1px solid #ccc;  height:100px; padding-top:2%; border-bottom:1px solid #ccc;}
.htnr-h3-1 a{ float:right; color:#1ca0ed; font-weight:bold;}
.htnr-h3-1{font-size:15px; background:#eee; padding:5px;color:#000;font-weight:bold; clear:both; overflow:hidden; }
.htnr-h3{ margin-bottom:40px;clear:both; overflow:hidden;}
.htnr-h3-2-2 a{ color:#000}
.htnr-h3-2-2 span{ color:#f00; font-size:17px; font-weight:bold;}
.htnr-h3-2-2{ color:#000; text-align:center; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:100px; padding-top:2%;}
.htnr-h4-1-1{ background:#eee; color:#000; padding:5px; font-weight:bold; font-size:15px;}
.htnr-h4-1-2 a{ color:#000; text-decoration:none; padding-left:5px;}
.htnr-h4-1-2 a:hover{ color:#1ca0ed;}
.htnr-h4-1-3{ float:right; padding-right:10px; }
.htnr-h4-1-4 a{ text-align:center;  color:#1ca0ed; }
.htnr-h4-1-4 { text-align:center;  margin-top: 10px; margin-bottom: 10px;}
.htnr-h4-1-2 { border-bottom:1px solid #ccc; padding-bottom:5px; padding-top:10px;}
.left-border {border-left:1px solid #ccc;}

.htnr-h4-1{ padding:0px;}


.htnr-b-1 a{ color:#3c9be7; border-bottom:1px solid #3c9be7; padding-left:10px; padding-right:10px; padding-bottom:5px; font-weight:bold; font-size:17px;}
.htnr-b-1{ border-bottom:1px solid #ccc; padding-bottom:5px; padding-top:10px;}
.htnr-b-2 a{ color:#000; font-size:15px; text-decoration:none; border:1px solid #fafafa; padding:5px 5px; display:inline-block; width:13.7%; text-align:center;}
.htnr-b-2 .htnr-b-2-1{ color:#f00;}
.htnr-b-2 a.on{ background:#00a2ea; color:#fff;}
.htnr-b-2{ margin-top:10px;}
.htnr-b-2 a .on{ color:#fff;}


.htnr-b-3{ color:#000; margin-top:20px; padding-bottom:20px;}
.htnr-b-3 input{ width:120px; color:#999; font-size:13px; font-weight:500; margin-left:5px;}
.htnr-b-3 select{ width:120px; color:#f08519; font-size:13px; font-weight:500;}
.htnr-b-3 button{ background:#006db8; color:#fff; padding:5px 15px; margin-left:10px; border:none;}
.htnr-b-4{ text-align:right; color:#000; font-size:13px; font-weight:bold; padding-right:25px; }
.htnr-5-1{ background:#d3edfa; padding:5px; color:#000; border:1px solid #000; border-bottom:0px;width:845px; }
.htnr-5-1 a img{ float:right;}
.confirm-code {cursor:pointer; margin-right:40px; float:right;}
.htnr-b-6{ text-align:center;}
.htnr-b-6 tr td{ padding-left:10px; padding-right:10px; }
.htnr-b-6 tr { height:110px; color:#000; --font-weight:bold;}
.tab-b-1{ color:#f00;}
.htnr-b-5{ margin-bottom:20px; clear:both; overflow:hidden;}
.tab-b-2 a{color:#00a2ea;}
.tab-b-3 a{color:#000; margin-top:10px; display:inline-block;}
.tab-b-33 a{color:#ccc; margin-top:10px; display:inline-block;}
.tab-b-4 a{ background:#008ed6; color:#fff; padding:5px 10px; margin-top:10px;}

.tab-b-5 a{ background:#f08519; color:#fff; padding:5px 10px; margin-top:10px;}
.tab-b-55 a{ background:#009b4d; color:#fff; padding:5px 10px; margin-top:10px;}

.tab-b-555 a{ background:#b04b87; color:#fff; padding:5px 10px; margin-top:10px;}
.tab-b-5555 a{ background:#f00; color:#fff; padding:5px 10px; margin-top:10px;}
.tab-b-55555 a{ background:#999; color:#fff; padding:5px 10px; margin-top:10px;}


.htfy a{ border:1px solid #ccc; padding:2px 7px; color:#0fb7db; margin:5px; }
.htfy a.on{ color:#fff; background:#0fb7db;border: 1px solid #0fb7db;}
.htfy a:hover{ color:#fff; background:#0fb7db;}
.ckfwjd{ background:#eee; padding-bottom:20px;}
.ckfwjd a:hover{text-decoration:none;}
.ckfwjd-1{ padding:10px; background:#fff;}
.ckjd-1 a{ color:#000; padding:11px; border-right:1px solid #999;}

.ckjd-1{background:#eee; line-height:40px;  border:1px solid #999; }
.ckjd-1 a.on{ background:#008ed6; color:#fff;}
.ckjd-1-1{ float:right; color:#f00; font-size:13px;}
.ckjd-1-2 a{background:#009b4d;color:#fff; margin-left:5px; margin-right:5px;padding:12px;}
.ckjd-1-3 a{ color:#999;    border-right: none;}
.ckjd-1-6 a{background:red;color:#fff; margin-left:5px; padding:12px;}
.ckjd-2-1{ border-bottom:1px solid #ccc; padding-bottom:10px; padding-top:2%;}
.ckjd-2{ border:1px solid #ccc; padding:10px; margin-top:2%;}
.ybj-1{ border-right:2px solid #ccc; margin-top:10px; margin-bottom:10px;}
.ckjd-2-1 img{ margin-right:15px; margin-top:10px; margin-bottom:10px;}
.ckjd-2-2{ color:#f00; letter-spacing:3px; padding-top:2%; padding-bottom:3%;}
.ybj-3{ font-size:16px; line-height:200%;}
.ybj-3 a{ color:#008ed6; border:1px solid #008ed6; font-size:13px; padding:2px 6px; margin-top:5px;}
.ybj-2 img{ margin-top:10px; width:117px; height:118px;}
.ybj-4-1{ color:#f08519;}
.ybj-4-2{ color:#f00;}
.ybj-4 a{color:#008ed6;font-size:14px; font-weight:bold;}
.ybj-4{ line-height:180%; text-align:center; padding-top:10px;border-right:2px solid #ccc;  margin-top:10px; margin-bottom:10px;padding-bottom:10px;}
.ybj-5 a{ background:#008ed6; color:#fff; padding:4px 30px;}
.ybj-5 { text-align:center; padding-top:4%; font-size:16px;}
.ybj{ border:1px solid #ccc; clear:both; overflow:hidden; margin-top:2%;}
.ybj-55 a{ background:#f00; color:#fff; padding:4px 30px; display:inline-block; margin-top:10px;}
.ybj-55 { text-align:center; padding-top:4%; font-size:16px;}

.bjxq-1{ font-size:15px; font-weight:700; background:#eee; border-bottom:1px solid #ccc; padding:5px; }
li{list-style-type:none; }
.bjxq-2 li{ float:left;}
.bjxq-2 li.bjxq-2-1{ float:left; width:22px; color:#f00; font-size:16px; height:80px; }
.bjxq-2 li.bjxq-2-2{ float:left; width:22px; color:#f00; font-size:16px; height:80px; }
.bjxq-2 .bjxq-2-1 a{ background:#f00; border-radius:15px; color:#fff; padding:1px 7px;}

.bjxq-2 .bjxq-2-11 { float:left; width:50px; background-color:#FF0000; margin-top:8px; position:relative; height:2px; width:130px;}
.bjxq-2 li.bjxq-2-2{ float:left; width:22px; color:#f00; font-size:16px; }
.bjxq-2 .bjxq-2-2 a{ background:#999; border-radius:15px; color:#fff; padding:1px 7px;}
.bjxq{ border:1px solid #ccc; clear:both; overflow:hidden;margin-top:2%;}
.bjxq-2 .bjxq-2-22 { float:left; width:50px; background-color:#ccc; margin-top:8px; position:relative; height:2px; width:130px;}

.bjxq-2{ padding-left:6%;  padding-top:20px;  }

.bjxq-2 li.bjxq-2-3{ float:left; width:120px; color:#f00; font-size:16px; margin-bottom:10px; }
.bjxq-2 .bjxq-2-3 a{ background:#999; margin-bottom:5px; border-radius:15px; color:#fff; padding:1px 7px; height:50px;}

.bjxq1{ margin-top:2%; border:1px solid #ccc; }
.bjxq1-1{ margin:15px; line-height:200%; border-bottom:2px solid #ccc; padding-bottom:10px;}
.bjxq1-1 table{ text-align:center;}

.bjxq1-1 .bjxq1-tr{ background:#eee; font-weight:bold;}

.bj-zf{ line-height:200%; border-bottom:1px solid #ccc; padding-bottom:5px; margin:5px;}

.bj-zf1{ line-height:200%;  padding-bottom:5px; margin:5px;}
.zjtz-1{ color:#ff9934; font-weight:bold; font-size:18px; border-bottom:1px solid #eee; padding-bottom:10px; padding-left:10px;}

.zftz1{ text-align:right; padding-right:2%; font-weight:bold; line-height:200%; padding-bottom:2%;}

.zftz1 button{ background:#006db8; padding:5px 25px; color:#fff; font-size:16px; border:none; margin-top:8px; margin-bottom:8px;}

.bjxq1-zf a{ background:#006db8; padding:7px 25px; color:#fff; font-size:16px; margin-left:2%; }
.bjxq1-zf {margin-bottom:2%; margin-top:1%;  }
.zftz-d{ text-align:center; color:#26cf7a; font-size:30px;}
.zftz-d-1{ line-height:200%; font-size:16px; font-weight:bold; padding-top:3%; border-bottom:1px solid #ccc; padding-bottom:5%; padding-left:40%;}

.bjck-1-1 a{ color:#60a4d3; font-weight:bold; font-size:20px; border-bottom:2px solid #60a4d3; padding-bottom:10px;padding-left:10px; padding-right:10px;}
.bjck-1{ border-bottom:1px solid #ccc; padding-bottom:10px; clear:both; padding-top:2%; margin-bottom:2%; }
.bjck-1-2 a{ color:#006db8; font-weight:bold; font-size:14px;}
.bjck-1-2 a{ float:right; margin-right:10px;}

.bjck-2 a{ border:1px solid #333; padding:2px 10px; color:#333; display:inline-block; width:80%; cursor:pointer;}
.bjck-2 a.on{ background:#f08519; color:#fff;}
.bjck-2 a:hover{ text-decoration:none;background:#f08519; color:#fff; }
.bjck-2{ margin-top:2%; text-align:center;}

.bjck-3 li{ float:left; width:168px; margin-top:1%; margin-bottom:1%;}

.bjck-3{ text-align:center; margin-top:20px; clear:both; overflow:hidden; border-top:1px solid #ccc; padding-top:20px; padding-bottom:3%;}
.bjck-22{ margin-bottom:20px; clear:both; overflow:hidden; padding-bottom:20px;}
.bjck{ border:1px solid #eee; padding-bottom:10%;  }
.htfy{ text-align:center;}
.sctp-1{ background:#eee; padding:20px;}
.sctp-1-1{ margin-top:2%;}
.sctp-1-2 button{ background:#008ed6;  padding:5px 20px; color:#fff; margin-left:15px; border:none;}
.sctp-1-3 button{ background:#ccc;  padding:5px 20px; color:#000; margin-left:20px; border:none;}
.sctp{ border:1px solid #eee; padding:10px; padding-bottom:20%;}
.bjck-t{ clear:both; overflow:hidden; margin-bottom:20px; background:#eee; padding:15px; position:relative;}

.bjck-t1 { text-align:center;}
.bjck-t1 img {width:135px; height:101px; border:1px solid #000;}

.bjck-t2 { text-align:left; padding-top:10px;font-weight:bold;}
.bjck-t2 select{ margin-bottom:10px; font-weight:500; width:200px;}

.bjck-t2 input{ margin-bottom:10px; font-weight:500;width:200px;}
.pjgl-1{ font-size:16px; padding-left:10px; border-bottom:1px solid #eee; padding-bottom:10px; padding-top:10px;}

.pjgl-1 input{ margin-left:15px; width:20px;}
.pjgl-1-1{ float:right; padding-right:10px;}
.pjgl-2-1{ font-size:14px;  background:#eee; padding:7px;}
.pjgl-2-2{ border-bottom:1px solid #eee; padding-bottom:10px; margin:20px;font-size:15px;}
.pjgl-2-3{ color:#f0ae2b;padding-bottom:10px; margin:20px; font-size:15px;}
.pjgl-2{ border:2px solid #eee; margin:10px; margin-top:20px;}

.tjpj-1{ font-size:15px; padding-left:20px;  padding-top:15px;}

.tjpj-11{ margin:10px; margin-left:30px;}
.tjpj-1 textarea{ color:#999;}

.tjpj-12{  margin:10px; border-top:2px solid #eee;}
.tjpj-13 button{ background:#298dd2; color:#fff; padding:5px 15px; border:none;}

.tjpj-13{ color:#f00; padding-left:15px; margin-top:15px;}
.tjpj-1 select{ width:200px; }


.tsgl-1 a{ background:#06F; color:#fff; padding:5px 15px; margin-left:20px;}
.tsgl-2 table{ text-align:center;}
.tsgl-2 .tsgl-2-1{ height:40px;}
.tsgl-2 .tsgl-2-2{ height:80px;}
.tsgl-2 { margin-top:3%;}
.tsgl-2-2-1 a{ background:#06F; color:#fff; padding:5px 15px; margin-top:5px;}
.tsgl-2-2-2 a{  color:#16b0f0;}

.tsgl-2 tr td{ width:115px;}

.tscl-1 a{ background:#06F; padding:5px 15px; font-size:14px;  color:#fff;font-weight:500;}
.tscl-1{ height:40px; padding-left:10px; padding-right:10px; font-size:15px; font-weight:bold;}

.tscl-2-1{ line-height:200%; padding-left:3%; height:350px;}
.tscl-2{ clear:both; overflow:hidden;} 

.tscl-3-1{ border-left:2px solid #eee; height:350px; line-height:200%; padding-left:3%;}


.qby-1{ font-size:16px; font-weight:bold; padding-left:15px; padding-bottom:20px; border-bottom:2px solid #eee; margin-bottom:20px; padding-top:20px; padding-bottom:30px;}

.qby-1 a{ background:#f4a40d; padding:5px 20px; margin-left:10px; color:#fff;}

.qby-s-1{ color:#fdd07b;}
.qby-s-2{ color:#66c3ec;}
.qbmm-1{ font-weight:bold; padding-left:20px; }
.qbmm-1 input{ margin-bottom:10px; margin-top:10px;}
.qbmm-1 a{ border:1px solid #ccc; padding:2px 8px;}
.qbmm-1-1 button{ color:#fff; margin-left:13%; background:#06F; padding:5px 30px; border:none;}
.qbmm-1-1{margin-top:20px;}

.qbmm-1-2 a{ color:#66c3ec; margin-left:13%;  padding:5px 30px;}

.qbmm-1-2 { margin-top:20px;}
.czcg{ background:#eee; padding:30px;}

.czcg-1{ font-size:20px; font-weight:bold; background:#fff; padding:20px; text-align:center; padding-top:15%; padding-bottom:15%;} 
.czcg-1 a{ background:#06F; font-size:15px; padding:5px 30px; color:#fff; font-weight:500;}
.czcg-1 a:hover{text-decoration:none;}
.zhcz-2{ color:#000; font-size:20px; border-bottom:2px solid #eee; padding-bottom:5%; margin:5px;}
.zhcz{ background:#eee;padding-top:2%; padding-bottom:2%;}
.zhcz-1{ background:#fff; padding-top:3%; padding-bottom:3%;}
.zhcz-2-1 a{ font-size:26px; border:2px solid #ccc; padding:5px 15px; color:#000; margin:2px 10px; cursor:pointer;}

.zhcz-2-2{font-size:14px;width:200px; color:#f00;}

.zhcz-2-1 a.on{ color:#82da4e; border:2px solid #82da4e;}
.zhcz-3-1 a.on img{ font-size:26px; border:2px solid #82da4e;  color:#000; margin:2px 10px;}
.zhcz-2-2.on{color:#82da4e;}
.zhcz-3-2 a{ border:2px solid #eee; color:#999; font-size:14px; padding: 15px; height:40px;}
.zhcz-4{ font-size:16px; font-weight:bold; padding-top:2%; padding-left:2%;}

.zhcz-4 button{ background:#06F; padding:5px 40px; color:#fff; border:none;}


.yhq-1 a{ color:#000; font-size:15px; border:1px solid #ccc; text-decoration:none; padding:5px 15px; margin:8px;}
.yhq-1 a.on{ color:#3baf36;border:1px solid #3baf36; }

.yhq-1 a:hover{ color:#3baf36;border:1px solid #3baf36; }
.yhq-1 .yhq-1-1{ float:right; padding-right:20px;}
th{ text-align:center;}
.yhq-2 table tr{ text-align:center;}
.yhq-2 table{ border:1px solid #ccc;}
.yhq-2 table tr th{ height:40px;}

.yhq-2 table tr td{ height:70px;}
.yhq-2{ margin-top:15px; margin-bottom:20px;}
.yhq-2-1{ color:#f00;}

.yhq-3{ border-top:1px solid #ccc; padding-bottom:10px; font-size:15px; margin-top:15px; line-height:200%; padding-left:20px;}
.jbzl-1{ clear:both; overflow:hidden; line-height:200%; font-size:15px;}
.jbzl-lef{ padding-left:5%; ---font-weight:bold;}
#imghead{padding:1px;width:100%;height:100%;}
.jbzl-lef-1 a{ background:#06F; padding:5px 25px; color:#fff; }

.grtx-1{ clear:both; overflow:hidden;}
.grtx-2 a{background:#06F; padding:5px 25px; color:#fff; }
.grtx-2{ font-size:15px; padding:15px;}
.grtx-2-2{ margin-top:15px;}



.grtx-3{ border:1px solid #ccc; margin:10%; font-size:15px; padding:15px; clear:both; overflow:hidden;}
.fwbz-2-1{ display:block; font-size:40px; font-weight:bold; padding-top:5%;}
.banner_fuwu{height:auto;background:none;}
.banner_fwbz {height:493px;background:url(../images/35302.png) no-repeat center center;}
.fwbz-2-2{ font-size:16px; line-height:200%; padding-top:10px;}
.fwbz-1{ clear:both; overflow:hidden; padding-top:5%; padding-bottom:5%;width:900px;margin:0 auto;}
.fwbz-3{ background:#f9f9f9; padding-top:5%; padding-bottom:5%;clear:both; overflow:hidden;}
.fwbz-3 .container{width:900px;margin:0 auto;}

.fwfs-2-2 a{ background:#f00; padding:8px 30px; border-radius:5px; color:#fff; margin-top:20px;}
.fwfs-2-2 a:hover,.fwfs-2-2a a:hover{text-decoration:none;}
.fwfs-2-2a a{ background:#418bca; padding:8px 30px; border-radius:5px; color:#fff; margin-top:20px;}
.fwfs-2-2{ font-size:16px; text-align:center; border:3px solid #f00; width:400px; padding-bottom:30px; padding-top:30px; border-radius:5px; margin-bottom:40px;}
.fwfs-2-2a{ font-size:16px; text-align:center; border:3px solid #418bca; width:400px; padding-bottom:30px; padding-top:30px; border-radius:5px; margin-bottom:40px;}
.fwfs-2-1{ font-size:20px; padding-top:3%; padding-bottom:3%; font-weight:bold; text-align:center;}
.fwfs-2-3-22{ font-size:18px; display:block; }
.fwfs-2-3-1 img{ width:70px;}
.fwfs-2-3-23{ font-size:15px; }
.banner_gywm{background:url(../images/35.png) no-repeat center;}
.gywm{ background:#f9f9f9;height:auto;} 
.fwfs-2-3{ clear:both; overflow:hidden; padding-top:2%; padding-bottom:2%; padding-right:10%; padding-left:10%;}
.gywm-1{ padding-top:3%; background:#fff; padding:50px;}
.gywm-2{ line-height:200%; font-size:15px; padding-top:20px; ---font-weight:bold; padding-left:5%; padding-right:5%;}
.gywm-2-1 { text-align:center;}
.htnr-tt{ border:1px solid #eee; }
.bzzx-1{ border-bottom:1px solid #eee; padding-bottom:5px; padding-top:10px; text-align:center; }
.bzzx-1 a{font-size:15px; color:#000;}
.bzzx-1 a.on{ color:#f00;} 

.bzzx-1 a:hover{ color:#f00;} 

.bzzx-1-1{ float:right; padding-right:15px;}

.bzzx-r-1{ margin:5px 25px; border-bottom:1px solid #eee; padding-top:10px; padding-bottom:5px;}

.bzzx-r-1 a{ color:#000; font-size:16px; }
.zx-sj{ float:right; padding-right:15px; font-weight:500;}
.bzzx-r-1 img{ margin-left:5px; margin-right:5px;}
.htnr-1-2.on{ background:#99F;} 
.wdxx-1{ float:right; padding-right:10px; }
.wdxx-1 a{ color:#418bca; font-weight:bold; font-size:15px;}

.wdxx-2{ padding:15px 20px; color:#000; font-size:18px;  padding-bottom:4%;}

.wdxx-x{ background:#eee; padding:2px 15px; }
.wdxx-x a{ font-weight:bold;padding-left:10px;} 
.wdxx-x-1{ float:right; padding-right:15px;}
.wdxx-x input{ margin-left:11px;}

.wdxx-222{ font-weight:500; font-size:14px; color:#999;}


.wyfk-1{ text-align:left; font-size:18px; /*font-weight:bold;*/ padding-left:15px; margin-bottom:15px; margin-top:30px;}
.wyfk-1-1 input{ background:#06F; padding:5px 25px; color:#fff; margin-left:114px; border:none;}
.wyfk-1 textarea{ margin-left:100px; width:74%; height:120px; font-size:15px;}


.ckxz-2{ border:1px solid #999; font-size:20px; padding-left:15px;  background:#ccc; height:42px;}
.ckxz-2 img{ float:right;} 

.ckxz-2 img:focus.ckxz-2{ display:none;}

.ckxz-3 li a{ color:#000; font-size:18px;  }
.ckxz-3{}
.ckxz-3 li{height:42px; line-height:40px;text-align:center;}
.ckxz-1{ background:#f7f7f7; width:750px; top:0; left:0; position:fixed; z-index:2000; margin:auto; right:0; bottom:0; height:608px;}
.ckxz-x{ clear:both; overflow:hidden;}

.ckxz-3 li a.on{ color:#f00;}
.ckxz-3 li a:hover{ color:#f00;}

.ckxz-4-1 input{ width:250px; height:35px;}

.ckxz-4-1 a{ background:#06F; padding:8px 20px; color:#fff;}

.ckxz-4-1{ text-align:center; padding-top:15px; border-bottom:1px solid #333; padding-bottom:15px;}
.ckxz-4-3{ padding:10px; font-size:15px; ---font-weight:bold; padding-bottom:15px;}

.ckxz-4{ text-align:center; border-left:1px solid #333;}
.smza-1{ font-size:16px; font-weight:bold; padding:10px; padding-left:25px;} 
.smza-1-1{ font-size:16px; font-weight:bold;}
.smaz{ background:#f7f7f7; padding:15px; border:1px solid #eee; clear:both; overflow:hidden;}
.smza-2 a{ background:#dcdedd;font-size:14px; padding:5px 15px; border:1px solid #ccc; color:#000; margin-left:15px; margin-right:10px; text-align:center; display:inline-block; width:155px;} 
.smza-2{ font-weight:bold; font-size:16px; margin-top:30px;  padding-bottom:20px;} 

.smza-2 a.on{ background:#ef8642; color:#fff;} 

.smza-2 a:hover{ text-decoration:none; background:#ef8642; color:#fff;} 
.smza-2-3{ color:#000; font-size:16px; margin-top:10px; margin-bottom:10px;}  
.smza-2-3 select{ width:150px; color:#999; font-weight:500;}
.smza-2-3 .text_box{ text-align:center;}

.smza-2-4{color:#000; font-size:16px; margin-bottom:10px;}

.smza-2-4 input{ color:#999; font-size:14px; width:400px; font-weight:500;}
.smza-2-2 img{ margin-top:15px; width:161px; height:120px;}

.smza-2-1{ padding-top:10px; border:2px solid #ccc; clear:both; overflow:hidden; margin-left:110px; position:relative;}
.smza-2-1 #preview #imghead{border:2px solid #b3b3b4;padding:0;}
.smza-3{ font-weight:bold; font-size:16px; border-top:2px solid #ccc; padding-top:10px; margin-top:20px;}
.smza-3-1{ font-size:15px; padding-left:2%; margin-top:10px; margin-bottom:10px;}
.smza-3-1 input{ font-size:13px; color:#999; width:450px; height:35px;}
.smza-3-1 select{ font-size:13px; color:#666; width:140px; height:35px; margin-right:10px;}
.smza-4{ color:#f00; border-top:2px solid #ccc; margin-top:15px; padding-top:10px; padding-bottom:20px; font-size:15px;}
.smza-4 button{ background:#06F; padding:8px 30px; color:#fff; margin-left:10px; border:none;}

.smza-3-11{  font-size:15px; padding-left:2%; margin-top:10px; margin-bottom:10px; }
.smza-3-11 input{ font-size:13px; color:#999;  height:30px;text-align:center;}
.smwx-a a{ background:#06F; padding:8px 30px; color:#fff; font-size:16px;}  

.smwx-a{ margin-top:20px; margin-left:110px;}
.smza-7{ font-size:16px;  border-top:2px solid #ccc; padding-top:10px; margin-top:15px; padding-left:20px;}

.smza-7 a{ background:#06F; padding:8px 30px; color:#fff; margin-left:10px;}

.sfrz-1{ text-align:center; font-size:26px; padding-top:2%; padding-bottom:4%; color:#000; } 
.sfrz-2-1{ font-size:22px; padding-left:10px;}
.sfrz-2-2{ font-size:13px; padding-left:10px;}

.banner_zhuce{height:501px;background:url(../images/1000.png) no-repeat center center;}
.sfrz1{ border-bottom:2px solid #eee; clear:both; overflow:hidden; padding-bottom:3%;}
.sfrz-2{ padding-left:30px;} 
.sfrz-b-2-1{ color:#0060ad;clear:both; overflow:hidden;  font-size:34px;  padding-top:15%;  display:block; padding-bottom:10px;}
.sfrz-b-2-2{ font-size:18px; } 
.sfrz-b-2{ padding-left:8%; border-bottom:3px solid #eee; padding-bottom:8%;} 
.sfrz-b-1 img{ max-height:100%; max-width:100%;} 
.yhzc-1-1{ float:right; padding-right:20px; color:#006db8;  font-size:20px;}
.yhzc-1{ font-size:20px;  padding-top:5px; padding-left:5px;}  
.yhzc{ background:#f7f7f7; padding:20px; clear:both; overflow:hidden;}
.yhzc-2{ background:#fff; padding:20px; padding-left:29%; margin-top:15px; }
.yhzc-2-1{ font-size:18px; }
.yhzc-2-1 a{ background:#06F; padding-bottom:8px; width:100px; display:inline-block; text-align:center; padding-top: 6px; color:#fff; }
.yhzc-2-1 input{ color:#999; font-size:14px; width:300px; height:40px; font-weight:500;} 

.yhzc-2-1{ margin-top:10px; margin-bottom:20px;} 

.yhzc-2-1 select{ color:#999; font-size:14px; width:300px; height:40px; font-weight:500;}  
.yhzc-2-2{ padding-left:10%;}
.yhzc-2-3 a{ background:#06F; padding:10px 130px; font-size:18px; color:#fff; }
.yhzc-2-3 button{ background:#06F; padding:10px 130px; font-size:18px; color:#fff; border:none;}
.yhzc-2-3{ padding-left:11%; margin-top:30px;padding-bottom:20px;}
.yhzc-3{ border-top:2px solid #ccc; width:100%; }

.yhzc-3 img{  width:100%;}

.tips-msg {
	position: fixed;
	top:30%;
	left:40%;
	width:360px;
	z-index:2000;
	background-color:#fff;
}
.lb_mask {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.yhzc-5-1 {margin-top:20px; margin-bottom:10px; font-size:16px; margin-left:30px;}
.yhzc-5-1 input {height:30px; width:100px;} 
.yhzc-5-1 span {margin-left:12px; color:red;}
.yhzc-5-1 img {width:300px; height:50px;}
  
  @media (min-width:300px) {
.container {
	width: 1200px
}
}

 .htnr .col-md-3{ padding-right:22px;} 
  .grtx-2-2 a{ background:#06F; color:#fff; padding:5px 20px;}
 .htnr-h1{ padding-bottom:15px;}
  
  .sfzs-1{ text-align:center; border-bottom:3px solid #eee; padding-bottom:20px; padding-top:30px; font-size:18px; }
  .sfzs-2 li{ width:165px; text-align:center; font-size:20px; float:left;}

.sfzs-2{ padding-top:30px; padding-bottom:30px; text-align:center; clear:both; overflow:hidden;}
.sfzs-3{ background:#eee; clear:both; overflow:hidden; margin-top:20px; height:40px; line-height:40px; margin-bottom:20px;}
.sfzs-3 a.on{ background:#06F; padding:7px 30px; color:#fff; }
.sfzs-3 a{ color:#000; font-size:16px; padding:7px 30px; border:1px solid #ccc; }
.sfzs-3 a:hover{ background:#06F; padding:7px 30px; color:#fff; }
.sfzs-3-1{ font-size:16px; line-height:200%; padding-left:20px; }

.sfzs-wf{ line-height:250%; padding-left:30px;}
.sfzs-wf-1{ display:block; font-size:17px;}
.sjzs-1{ margin-bottom:20px; border:2px solid #eee; padding:10px;}

.sqzc-1-2{ color:#f00; font-size:13px; padding-left:20px;}
.sqzc-1-1{ background:#eee; height:30px; font-size:18px; padding-left:10px; font-weight:bold; margin-bottom:10px;  line-height:30px; }
.sqzc-1-1 img{ float:right;}
.sqzc-1{border:1px solid #ccc; width:550px; position:fixed; top:0; left:0; z-index:1000; margin:auto; right:0; bottom:0; height:500px;background:#f7f7f7;}
.sqzc-1-3 button{ background:#06F; padding:5px 20px; color:#fff; margin-left:58px; border:none;}
.sqzc-1-3 button.on{ background:#999;}

.sqzc-1-3{ margin:15px; padding-left:60px;border-top:1px solid #ccc; padding-top:12px; margin-top:15px;}
.sqzc-1-4{ color:#f00; font-size:13px; padding-bottom:20px; text-align:center;}

.tcdl{ background:#f7f7f7; width:500px; border:1px solid #ccc; text-align:center;top:0; left:0; position:fixed; z-index:2000; margin:auto; right:0; bottom:0; height:480px;}
.tcdl-3 input{ height:40px; line-height:40px; margin-bottom:20px; width:300px; color:#999; position:relative;} 
.tcdl-1{ text-align:right; }
.tcdl-2{ font-size:20px; font-weight:bold; padding-bottom:20px;}
.tcdl-4{ text-align:right; padding-right:100px;}
.tcdl-4 a{ font-size:15px; color:#09F; font-weight:bold;}
.tcdl-4 span{font-size:15px; color:red; padding-right:100px;}
.tcdl-5 button{ font-size:15px; background:#06f; color:#fff; padding:10px 132px; border:none;}
.tcdl-5{ margin-top:16px; margin-bottom:10px;}
.tcdl-6{ margin-bottom:20px;}

.tt-2{ background:#f7f7f7; width:320px; border:1px solid #999; position:fixed; left:0; top:0; z-index:2000; margin:auto; right:0; bottom:0; height:192px;}
.tt-2-hire{ background:#f7f7f7; width:390px; border:1px solid #999; position:fixed; left:0; top:0; z-index:2000; margin:auto; right:0; bottom:0; height:192px;}
.tt-2-1{ height:35px; line-height:35px; background:#eee; font-size:16px; padding-left:10px; font-weight:bold;}
.tt-2-1 img{ float:right;}
.tt-2-2{ font-size:18px; text-align:center; padding-top:30px; padding-bottom:30px;}
.tt-2-3 a{ background:#06F; color:#fff; padding:5px 20px;}
.tt-2-3 button{ background:#06F; color:#fff; padding:5px 20px; border:none;}
.tt-2-3 a.on{ background:#ccc; margin-left:20px; color:#fff; padding:5px 20px;}
.tt-2-3{ text-align:center; padding-top:20px;}
.tt-2-22{ font-size:14px; text-align:center; padding-top:30px; padding-left:10px; padding-right:20px; padding-bottom:10px;}
.tt-2-4{ font-size:13px; color:#f00; padding-left:35px;}
.tt-2-2y{ font-size:30px; text-align:center; color:#FC3; font-weight:bold; padding-top:30px;}
.tt-2-5{ text-align:center; padding-top:20px;}
.tt-1{ padding-top:50px; padding-bottom:50px;}
.tt-2-8 {text-align:center; padding-top:10px; padding-bottom:10px;}
.tt-2-8 button {background-color:#06F; width:30%; border:none; padding:6px 8px; color:#fff;}

.jbzl-lef input {width:400px; line-height:10px; margin-right:400px;}
.jbzl-lef-1 button {width:80px; background-color:#06F; color:#fff; border:none;}

#preview {width: 100%;height: 500px;}
#avatar-index {width: 110px; height:110px;}

.qbmm-1-6 {margin-top:20px;}
.qbmm-1-6 button{ color:#fff; margin-left:22%; background:#06F; padding:5px 30px; border:none;}

#preview1 img{border: 1px solid #ccc; margin-top: 10px; height:80px; width:80px; float:left; margin-left:8px;}

.upload-file {
  background: url('../images/photo_icon.png') no-repeat;
  background-size: 100%;
  height: 80px;
  width: 80px;
  border: 1px solid #ccc; 
  margin-top: 10px;
  float: left;
  margin-left:8px;
}

.upload-file input[type='file'] {
  opacity: 0;
  height: 80px;
  width: 80px;
}

.clear {
	clear:both;
}

.bjck-3 img {width:135px; height:101px; border:1px solid #000;}
.bjck-eg{ border:1px solid #eee; }

.goods-cancel {position:absolute; height:35px; right:0; top:0; z-index:10;}
.goods-cancel img {cursor:pointer;}

.scqd{ text-align:right; font-size:16px; padding-top:15px; background:#eee; padding:15px; height:48px;}
.scqd a{ background:#fff; color:#000; border:1px solid #ccc; padding:5px 20px; margin-right:10px; margin-left:15px;}

.scqd a.on{ background:#999; color:#fff; border:1px solid #ccc; padding:5px 20px; margin-right:10px; margin-left:15px;}

.ckxz-4-3 img {width:118px; height:88px;}

#preview2 img{border: 1px solid #ccc; margin-top:6px; margin-bottom:10px; height:100px; width:140px; float:left; margin-left:8px;}

.upload-file1 {
  background: url('../images/3601.png') no-repeat;
  background-size: 100%;
  height: 100px;
  width: 140px;
  border: 1px solid #ccc; 
  margin-top: 6px;
  float: left;
  margin-left:8px;
}

.upload-file1 input[type='file'] {
  opacity: 0;
  height: 100px;
  width: 140px;
}

.tt-7{ background:#f7f7f7; width:320px; border:1px solid #999; position:fixed; left:0; top:0; z-index:2000; margin:auto; right:0; bottom:0; height:300px;}

.detail-td img {width:200px;height:140px;padding:10px;}

.tt-8{ background:#f7f7f7; width:600px; border:1px solid #999; position:fixed; left:0; top:0; z-index:2000; margin:auto; right:0; bottom:0; height:870px; padding:10px;}

#login-code {position:absolute; right:100px; width:100px; height:40px; padding:2px;}
#login-code img {witdth:100px; height:40px;}

.tt-2-mark { background:#f7f7f7; width:320px; border:1px solid #999; position:fixed; left:0; top:0; z-index:2000; margin:auto; right:0; bottom:0; height:250px;}

.container_xdfw{background:#F7F7F7;width:100%;}
.xdfw{margin:0 auto;text-align:center;font-size:20px;padding:85px  0;}
.xdfw h3{font-size:20px;font-weight:normal;}
.xdfw p{line-height:35px;margin-top:20px;}
.xdfw p input{width:320px;height:35px;border:1px solid #919191;}
.xdfw p span{display:inline-block;}
.xdfw p em{font-style:normal;width:15px;display:inline-block;color:red;}
.xdfw button{color:#fff; background-color:blue; width:180px; border:none; margin-top:20px; padding:4px;}

.tt-2-confirmcode{ background:#f7f7f7; width:390px; border:1px solid #999; position:fixed; left:0; top:0; z-index:2000; margin:auto; right:0; bottom:0; height:240px;}
.cc-2-2y{ font-size:30px; text-align:center; color:#FC3; font-weight:bold; padding-top:10px; padding-bottom:10px;}
.cc-2-2{line-height:24px; padding:2px 12px; color:gray;}
.cc-2-3{width:100%; text-align:center; margin-top:10px;}
.cc-2-3 a{cursor:pointer; width:300px; background-color:#06F; color:#fff; padding:8px 20px; display:inline-block;}

.fund-img {width:20px;height:20px;}
.fund-txt {font-size:10px; border:1px solid #00c63f; color:#00c63f; padding:1px 6px;}
.fund-top-1 {position:relative;top:-1px;}